<footer>
  <div class="footer-first-line">
    <!-- Copyright disclaimer -->
    <div class="copyright">
      luislorenzom. All rights reserved (<%= Date.today.year %>).
    </div>

    <!-- Footer's links -->
    <div class="links">
      <%= link_to "Code repository", 'https://github.com/luislorenzom' %>
      <%= link_to "Contribute", '#' %>
      <%= link_to "Email", 'mailto:luislorenzomosquera@gmail.com' %>
    </div>
  </div>

  <!-- footer's second line-->
  <div class="footer-second-line">
    <p>Powered by <a href="https://rubyonrails.org/"><b>Ruby on Rails</b></a> and <a href="https://www.raspberrypi.org/"><b>RaspberryPi</b></a></p>
  </div>
</footer>